---
layout: archive
author_profile: true
---

     <article>
    <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
	<h4 style="margin-bottom:0px;padding-top:10px;">Education Background</h4>
    <p> <img src="../assets/image/sjtu.png" width="100" height="100" align="left" border=0>
    <font size="3">2013-Present &nbsp Ph.D. in Autonomation &nbsp
    <a href="https://en.sjtu.edu.cn/" target="_blank"><b>Shanghai Jiao Tong University</b></a>
	<br/> Supervisor: Prof. <a href="http://automation.sjtu.edu.cn/ShowPeople.aspx?info_id=1635&info_lb=590&flag=98" target="blank"><b>Ming Yang</b></a>
	<br/> Research Direction: <b>Autonomous Vehicles</b>
	</p>
	
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>