---
layout: archive
author_profile: true
---

     <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="left" class=bottom-small><img src="../assets/images/sjtu.png" alt="Education Background" width="70" height="70"></p>
    <p align="left">&#8226 <strong>Ph.D. Automation </strong> at <a href="http://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University</a> with Prof. Ming Yang.</p>
    <p align="left">&#8226 <strong>B.E. Automation</strong> at <a href="http://en.hit.edu.cn/" target="_blank">Harbin Institute of Technology</a>.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Research Interests" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>PhD</strong> in Computer Vision, supervised by <a href="https://imatge.upc.edu/web/ferran" target="_blank">Prof. Marques</a>.</p>
    <p align="center">&#8226 We created MCG in <a href="http://www.cs.berkeley.edu/~malik/" target="_blank">Prof. Malik</a>’s vision group in <a href="http://www.berkeley.edu" target="_blank">UC Berkeley</a>,<br>supervised by <a href="http://www.cs.berkeley.edu/~arbelaez/index.html" target="_blank">Dr. Arbeláez</a>. It has over 400 citations.</p>
    <p align="center" class="bottom-three">&#8226 I received a <strong>Mathematics</strong> degree, a <strong>Telecommunication</strong><br>engineering degree, and a <strong>Master</strong>´s degree from UPC Barcelonatech</a>.</p>
    
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 Give me the <strong>STL</strong> library and a <strong>VCS</strong> repository on which to store the <strong>C++</strong> code, and I shall move the world. Or was it about levers? &#12484;</p>
    <p align="center">&#8226 I use <strong>Matlab</strong> and <strong>Python</strong> for fast prototyping and testing.</p>
    <p align="center">&#8226 I cannot sleep at night if I have not committed my code or<br>if I have not done enough <strong>unit tests</strong>.</p>
    <p align="center" class="bottom-three">&#8226 I <a href="http://goo.gl/XbK9qN" target="_blank">build</a> <a href="http://www.vision.ee.ethz.ch/~cvlsegmentation/" target="_blank">awesome</a> <a href="http://davischallenge.org" target="_blank">websites</a> using <strong>Javascript</strong>, <strong>PHP</strong>, <strong>MySQL</strong>, and <strong>D3.js</strong>.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 El <strong>català</strong> és la meva llengua materna.</p>
    <p align="center">&#8226 Hablo <strong>español</strong> como lengua materna.</p>
    <p align="center">&#8226 My <strong>English</strong> is proficient.</p>
    <p align="center">&#8226 Je parle un peu <strong>français</strong>.</p>
    <p align="center" class="bottom-three">&#8226 Ich beginne <strong>Deutsch</strong> zu lernen.</p>
    
    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>