---
layout: archive
author_profile: true
---

     <article>
    <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
	<h4 style="margin-bottom:0px;padding-top:10px;">Education Background</h4>
    <p> <img src="../assets/image/sjtu.png" width="80" height="80" align="left" border=0>
    <font size="3"> 2013-Present &nbsp Ph.D. in Autonomation &nbsp
    <a href="http://en.sjtu.edu.cn/" target="_blank"> <b>Shanghai Jiao Tong University(SJTU)</b></a>
	<br/> Supervisor: Prof. <a href="http://automation.sjtu.edu.cn/ShowPeople.aspx?info_id=1635&info_lb=590&flag=98" target="_blank"><b>Ming Yang</b></a>
	&nbsp &nbsp &nbsp &nbsp &nbsp  Research Direction: <b>Autonomous Vehicles</b>
	</p>
	</font>
	
    <p> <img src="../assets/image/hit.jpg" width="80" height="80" align="left" border=0>
	<font size="3"> 2009-2013 &nbsp &nbsp &nbsp B.E. in Autonomation &nbsp
	<a href="http://en.hit.edu.cn/" target="_blank"> <b>Harbin Institute of Technology(HIT)</b></a>
	<br/> Supervisor: Prof. <a href="http://homepage.hit.edu.cn/duanguangren" target="_blank"><b>Guangren Duan</b></a>
	&nbsp Research Direction: <b>Control Theory</b>
	</p>
	</font>
	</div>
	<!--<div class="article-wrap">-->
	<h4 style="margin-bottom:0px;padding-top:20px;">Awards</h4>
	<font size="3">
	<ul>
	<b>During Ph.D. phase</b>
	<div>
	  <div style="float:left"><li>Academic Star of Shanghai Jiao Tong University</li></div> <div style="float:right"> 2017.12 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>National Scholarship</li></div> <div style="float:right"> 2017.09 </div>
	</div><br/>
	
	<div>
	 <div style="float:left"><li>IROS Student Travel Award</li></div> <div style="float:right"> 2017.08 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>Outstanding Student Award of SJTU</li></div> <div style="float:right"> 2016.11 </div>
	</div></br>
	
	<div>
	  <div style="float:left"><li>Zhao Zhumulan Scholarship for Ph.D. Student</li></div> <div style="float:right"> 2016.09 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>First prize of National Postgraduate Mathematical Contest in Modeling</li></div> <div style="float:right"> 2014.11 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>Ph.D. Freshman Scholarship of SJTU</li></div><div style="float:right"> 2013.11 </div>
	</div><br/>
	
	<b>During Undergraduate phase</b>
	<div>
	  <div style="float:left"><li>First prize of Mathematics competition of Chinese College</li></div> <div style="float:right"> 2012.12 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>National Endeavour Fellowship</li></div> <div style="float:right"> 2012.10 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>Second prize of Undergraduate Mathematical Contest in Modelling</li></div> <div style="float:right"> 2011.11 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>Outstanding Student Leader of HIT</li></div> <div style="float:right"> 2011.11 </div>
	</div><br/>
	
	<div>
	  <div style="float:left"><li>People's Scholarship</li></div> <div style="float:right"> 2010.11 </div>
	</div>
	</font>
	</ul>
	
	<h4 style="margin-bottom:0px;padding-top:20px;">Computer Skills</h4>
	<font size="3">
    <p><li>Programing language: C++</li></p>
	<p><li>Library: OpenCV, PCL, MRPT</li></p>
	</font>
	
	<h4 style="margin-bottom:0px;padding-top:20px;">Language</h4>
	<font size="3">
	<p><li>Mothertongue: Chinese</li><p>
	<p><li>Fluent: English</li></p>
	
    {{ content }}
    <!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>