---
layout: archive
author_profile: true
---

<article>
    <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
	<h4 style="margin-bottom:0px;padding-top:10px;">Research Interests</h4>
	<ul><li><b>Localization for Autonomous Vehicles</b><ul>
	<li>Sensor map generation for intelligent vehicles</li>
	<li>Map matching algorithm (point set registration)</li>
	<li>Sensor fusion</li></ul></li></ul>
	
	<ul><li><b>Feature Matching</b><ul>
	<li>3D point set registration</li>
	<li>Deep learning based point set registration</li>
	<li>Registration for semantic point cloud</li></ul></li></ul>
	
	<ul><li><b>Semantic Point Cloud</b><ul>
	<li>Joint calibration of multiple sensors</li>
	<li>Deep learning based semantic segmentation on 2D image</li>
	<li>Semantic point cloud generation based on point cloud and image</li></ul></li></ul>
