---
layout: archive
author_profile: true
---

<article>
    <!--<h1>{{ page.title }}</h1>-->
    <div class="article-wrap">
	<h4 style="margin-bottom:0px;padding-top:10px;">Research Interests</h4>	
	<ul><li><b>Localization for Autonomous Vehicles</b><ul><font size="4">
	<li>Sensor map generation for intelligent vehicles</li>
	<li>Map matching algorithm (point set registration)</li>
	<li>Sensor fusion</li></font></ul></li></ul>
	
	<ul><li><b>Feature Matching</b><ul><font size="4">
	<li>3D point set registration</li>
	<li>Deep learning based point set registration</li>
	<li>Registration for semantic point cloud</li></font></ul></li></ul>
	
	<ul><li><b>Semantic Point Cloud</b><ul><font size="4">
	<li>Joint calibration of multiple sensors</li>
	<li>Deep learning based semantic segmentation on 2D image</li>
	<li>Semantic point cloud generation based on point cloud and image</li></font></ul></li></ul>
	
	<ul><li><b>Deep Learning based Localization</b><ul><font size="4">
	<li>Deep CNN based localization using 3D point cloud</li>
	<li>Deep CNN based localization using 2D image</li>
	<li>Automatic labeling for training data</li></font></ul></li></ul>
	
	<h4 style="margin-bottom:0px;padding-top:10px;">Research Funding</h4>
	<ul><font size="3">
	<div>
	  <div style="float:left"><li>NSFC: Semantic cloud based environment modelling</li></div> <div style="float:right"> 2017-2021 </div>
	</div><br/>
	<div>
	  <div style="float:left"><li>MINES ParisTech–Peugeot-Citroën–Safran–Valeo：chairDrive4All</li></div> <div style="float:right"> 2014-2018 </div>
	</div><br/>
	<div>
	  <div style="float:left"><li>NSFC: Research on vehicle localization during GPS Outage</li></div> <div style="float:right"> 2012-2015 </div>
	</div><br/>
	</font></ul>
	
	<h4 style="margin-bottom:0px;padding-top:10px;">Membership</h4>
	<ul><li><font size="4"><b>IEEE Member (SM'16)</b></font></li><ul>
	
	</div>
